In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("datasets/top_50_2023.csv")

In [4]:
data.head()

,artist_name,track_name,is_explicit,album_release_date,genres,danceability,valence,energy,loudness,acousticness,instrumentalness,liveness,speechiness,key,tempo,mode,duration_ms,time_signature,popularity
0,Miley Cyrus,Flowers,False,2023-08-18,['pop'],0.706,0.632,0.691,-4.775,0.0584,0.000070,0.0232,0.0633,0,118.048,1,200600,4,94
1,SZA,Kill Bill,False,2022-12-08,"['pop', 'r&b', 'rap']",0.644,0.418,0.735,-5.747,0.0521,0.144000,0.1610,0.0391,8,88.980,1,153947,4,86
2,Harry Styles,As It Was,False,2022-05-20,['pop'],0.520,0.662,0.731,-5.338,0.3420,0.001010,0.3110,0.0557,6,173.930,0,167303,4,95
3,Jung Kook,Seven (feat. Latto) (Explicit Ver.),True,2023-11-03,['k-pop'],0.790,0.872,0.831,-4.185,0.3120,0.000000,0.0797,0.0440,11,124.987,1,183551,4,90
4,Eslabon Armado,Ella Baila Sola,False,2023-04-28,"['corrido', 'corridos tumbados', 'sad sierreno...",0.668,0.834,0.758,-5.176,0.4830,0.000019,0.0837,0.0332,5,147.989,0,165671,3,86

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artist_name         50 non-null     object
 1   track_name          50 non-null     object
 2   is_explicit         50 non-null     bool
 3   album_release_date  50 non-null     object
 4   genres              50 non-null     object
 5   danceability        50 non-null     float64
 6   valence             50 non-null     float64
 7   energy              50 non-null     float64
 8   loudness            50 non-null     float64
 9   acousticness        50 non-null     float64
 10  instrumentalness    50 non-null     float64
 11  liveness            50 non-null     float64
 12  speechiness         50 non-null     float64
 13  key                 50 non-null     int64
 14  tempo               50 non-null     float64
 15  mode                50 non-null     int64
 16  duration_ms         50 non-null     int64
 17  time_signature      50 non-null     int64
 18  popularity          50 non-null     int64
dtypes: bool(1), float64(9), int64(5), object(4)
memory usage: 7.2+ KB

In [6]:
new_df = data[["genres","artist_name","track_name"]]

In [8]:
new_df.head()

,genres,artist_name,track_name
0,['pop'],Miley Cyrus,Flowers
1,"['pop', 'r&b', 'rap']",SZA,Kill Bill
2,['pop'],Harry Styles,As It Was
3,['k-pop'],Jung Kook,Seven (feat. Latto) (Explicit Ver.)
4,"['corrido', 'corridos tumbados', 'sad sierreno...",Eslabon Armado,Ella Baila Sola

In [9]:
new_df.shape

(50, 3)

In [10]:

# Remove the quotation marks from the 'genre' column
new_df['genres'] = new_df['genres'].str.strip("[]").str.replace("'", "")

C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_14932\3526128356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['genres'] = new_df['genres'].str.strip("[]").str.replace("'", "")

In [11]:
new_df.head()

,genres,artist_name,track_name
0,pop,Miley Cyrus,Flowers
1,"pop, r&b, rap",SZA,Kill Bill
2,pop,Harry Styles,As It Was
3,k-pop,Jung Kook,Seven (feat. Latto) (Explicit Ver.)
4,"corrido, corridos tumbados, sad sierreno, sier...",Eslabon Armado,Ella Baila Sola

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv = CountVectorizer()

In [14]:
vectors =cv.fit_transform(new_df["track_name"]).toarray()

In [15]:
num_features = len(cv.vocabulary_)

In [16]:
#cv.vocabulary_

In [17]:
import nltk

In [18]:
from nltk.stem.porter import PorterStemmer

In [19]:
stem = PorterStemmer()

In [20]:
def stemming(text):
    y = []
    
    for i in text.split():
        y.append(stem.stem(i))
    return " ".join(y)

In [21]:
new_df["track_name"] = new_df["track_name"].apply(stemming)

C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_14932\1172925948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["track_name"] = new_df["track_name"].apply(stemming)

In [22]:
new_df["genres"] =new_df["genres"].apply(lambda x:x.replace(" ",""))

C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_14932\2608611224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["genres"] =new_df["genres"].apply(lambda x:x.replace(" ",""))

In [23]:
new_df.head()

,genres,artist_name,track_name
0,pop,Miley Cyrus,flower
1,"pop,r&b,rap",SZA,kill bill
2,pop,Harry Styles,as it wa
3,k-pop,Jung Kook,seven (feat. latto) (explicit ver.)
4,"corrido,corridostumbados,sadsierreno,sierreno",Eslabon Armado,ella baila sola

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
cosine_similarity(vectors).shape

(50, 50)

In [26]:
similarity = cosine_similarity(vectors)

In [27]:
sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x: x[1])[1:6]

[(1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0)]

In [48]:
def recommendsong(genre):
    movie_index = new_df[new_df["genres"]==genre].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[:10]
    for i in movie_list:
        print(new_df.iloc[i[0]].track_name)

In [75]:
#recommendsong("afrobeat")

In [50]:
new_df.query("genres == 'k-pop'")

   genres artist_name                           track_name
3   k-pop   Jung Kook  seven (feat. latto) (explicit ver.)
40  k-pop       Jimin                           like crazi

In [51]:
recommendsong("k-pop")

3
seven (feat. latto) (explicit ver.)
cupid - twin ver.
unholi (feat. kim petras)
see you again (feat. kali uchis)
flower
kill bill
as it wa
ella baila sola
cruel summer
creepin' (with the weeknd & 21 savage)

In [52]:
recommendsong("rap")

6
creepin' (with the weeknd & 21 savage)
here with me
paint the town red
calm down (with selena gomez)
die for you (with ariana grande) - remix
until i found you (with em beihold) - em beihold version
flower
kill bill
as it wa
seven (feat. latto) (explicit ver.)